#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        %p= link_to( image_tag(@pin.image.url(:medium)) , @pin.image.url, :data => { :colorbox => true, :width => '500px', :colorbox_width => '70%', :colorbox_height => '70%' } )
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
        %p
        Submitted by
        = @pin.user.email
      .panel-footer
        .row
          .col-md-6
            %h2= " #{@pin.comments.count} Comments"
            = render @pin.comments

          .col-md-6
            .btn-group.pull-right
              = link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-heart
                  = @pin.get_upvotes.size
              - if current_user
                = link_to "Edit", edit_pin_path, class: "btn btn-default"
                = link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"





      <!-- Comments Form -->
      .well
        %h4 Leave a Comment
        = render "comments/form"
